<section class="move-preview">
  <div class="move-preview-container">
    <!-- <img [src]="contact.img" alt="" /> -->

    <span>
      <img src="../../../assets/icons for misterBitcoin/user.png" />:
      {{ move.to }}</span
    >
    <span>
      <img src="../../../assets/icons for misterBitcoin/amount.png" />: ${{
        move.amount
      }}</span
    >
    <span>
      <img
        class="date-img"
        src="../../../assets/icons for misterBitcoin/calendar.png"
      />
      :{{ move.at | date: "dd.MM.yyyy EEEE" }}</span
    >
  </div>
</section>
