.home-page {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-content: center;
  align-items: flex-start;
  color: white;
  gap: 80px;
  justify-content: space-around;

  .login-user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    background: #000616;
    padding: 61px 0px 65px;
    margin: 0 0 30px;
    border-radius: 5px;
    position: relative;
    transition: 0.5s;
    line-height: 1.5;
    z-index: 1;
    height: 450px;
    p {
      // margin: 5px;
      margin: 0px;
    }
    .container-coins {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      /* margin: 0px; */
      align-items: flex-start;
      margin-top: 29px;
      align-content: center;
      span {
        font-weight: bold;
        color: #ffb900;
      }
    }
  }

  .login-user-details::before {
    position: absolute;
    bottom: 0;
    content: "";
    right: 0;
    height: 50px;
    width: 50px;
    background: #ffb900;
    border-radius: 45px 0 0 0;
    transition: 0.5s;
    z-index: -1;
    p {
      margin: 0px;
    }
  }
  .login-user-details:hover {
    height: inherit;
    width: inherit;
    opacity: 1;
    border-radius: inherit;
    content: "";
    height: 450px;

    background: #ffb900;
    border-radius: 45px 0 0 0;
    transition: 0.5s;
    z-index: -1;
    p {
      margin: 0px;
      span {
        color: #000;
      }
    }
  }
  .btc-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 30px;
      height: 25px;
    }
  }

  img {
    border-radius: 12px;
    object-fit: contain;
    width: 70%;
    // height: 200px;
    // color: #00000000;
  }
}

// span:hover {
//   font-weight: bold;
//   color: rgb(0, 0, 0);
// }
