.contact-filter {
  background-color: transparent;
  border: 0;
  //   border-bottom: 2px solid #fff;
  font-size: 40px;
  height: 40px;
  //   width: 100%;
  outline: none;
  color: #fff;
  font-weight: 400;

  input[type="text"] {
    position: relative;
    display: block;
    height: 40px;
    font-size: 16px;
    color: #686a6f;
    font-weight: 400;
    padding: 14px 41px;
    letter-spacing: 0.1em;
    background-color: #f4f5f80a;
    border: 1px solid #ffe00b;
    border-radius: 0;
    transition: all 300ms ease;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 14px;
  }
  input[type="text"]:focus {
    box-shadow: none;
    outline: none;
    border-color: #f8be2d;
    border: 3px;
  }
}

.filter-input input[type="text"]:focus {
  box-shadow: none;
  outline: none;
  border-color: #f8be2d;
}

.contact-filter:focus:active {
  box-shadow: none;
  /* outline: none; */
  //   border: 5px solid #f8be2d;
  border-color: #f8be2d;
  //   border-bottom-color: #f8be2d;
}
