.login-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
  gap: 200px;

  h1 {
    color: aliceblue;
  }
  .home-pic-container {
    // margin-top: 140px;
    display: flex;
    align-content: space-around;
    align-items: center;
    padding: 40px;
    /* padding-inline-start: 150px; */
    justify-content: flex-end;
    .home-pic-animation {
      animation-name: float-bob !important;
      animation-duration: 2s !important;
      animation-iteration-count: infinite !important;
      animation-timing-function: linear !important;
    }
    img {
      vertical-align: middle;
      border-style: none;
      // background-position: 100vw;

      // object-fit: cover;
    }
  }
  .form-btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins";
    text-transform: uppercase;
    color: #010716;
    background: #ffba00;
    padding: 13px 20px;
    border-radius: 5px;
    float: left;
    z-index: 1;
    position: relative;
    margin-right: 18px;
    border: 1px solid #ffba00;
  }

  .form-btn:hover {
    color: #ffba00;
    border: 1px solid #ffba00;
    background: none;
  }
  .container-login-form {
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: 10px;
      flex-direction: row-reverse;
      align-content: stretch;
    }
  }
  input[type="text"] {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 51px;
    color: #000000;
    height: 50px;
    width: 100%;
    padding: 10px 30px;
    background-color: #ffffff;
    transition: all 500ms ease;
    font-weight: 500;
    text-transform: capitalize;
  }
  //   img {
  //     width: 1013px;
  //     aspect-ratio: auto 1013 / 422;
  //     height: 422px;
  //     display: block;
  //     -webkit-user-select: none;
  //     margin: auto;
  //     cursor: zoom-in;
  //     background-color: hsl(0, 0%, 90%);
  //     transition: background-color 300ms;
  //   }
  //   background: url("../../../assets/icons for misterBitcoin/home-page.jpg");
  //   /* padding-inline-end: 0px !important; */
  //   /* padding-inline-start: 0px !important; */
  //   width: 97vh;
  //   height: 80vh;
  //   background-repeat: no-repeat;
  //   object-fit: contain;
  //   background-position: 77%;
}
