img {
  height: 175px;
  width: 175px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

// .contact-preview {
//   background-color: rgb(255, 206, 128);
//   display: flex;
//   align-items: center;
//   button {
//     display: flex;
//     align-items: flex-end;
//     margin-bottom: -177px;
//   }
// }

.contact-preview {
  box-shadow: -15px -17px 10px #00000045;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  background-color: #0b3d60fc;
  /* display: flex; */
  flex-direction: column-reverse;
  align-items: center;
  font-size: large;
  border-radius: 5px;
  position: relative;
  transition: 0.5s;
  line-height: 1.5;
  z-index: 1;
  /* justify-content: center; */
  height: 356px;
  width: 260px;

  .info {
    // padding: 5px;
    flex-grow: 1;
    /* display: flex; */
    /* flex-direction: column; */
    display: flex;
    box-shadow: 0 0 black;
    justify-content: center;
    flex-direction: p {
      margin: 5px;
    }
  }
  .actions {
    opacity: 1;
    transform: translateX(-10%);
    transition: 0.3s;
    display: flex;
    .remove-btn {
      width: 2em;
      height: 2em;
      background-color: inherit;
      border-radius: 100%;
      border: 1px solid black;
      transition: 0.15s;
      margin-left: 25%;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        background-color: rgb(201, 47, 47);
        color: white;
      }
    }
  }
  //   &:hover .info .actions {
  //     transform: translateX(0%);
  //     opacity: 1;
  //   }
}
a {
  text-decoration: none;
}
.actions:hover {
  transform: translateX(0%);
  opacity: 1;
}

.info::before {
  position: absolute;
  bottom: 0;
  content: "";
  right: 0;
  height: 50px;
  width: 50px;
  // background: #ffb900;
  background: #85430f;
  border-radius: 45px 0 0 0;
  transition: 0.5s;
  z-index: -1;
  p {
    margin: 5px;
  }
}
.info:hover {
  height: inherit;
  width: inherit;
  opacity: 1;
  border-radius: inherit;
  content: "";
  background: #85430f;
  // background: #ffb900;
  border-radius: 45px 0 0 0;
  transition: 0.5s;
  z-index: -1;
  p {
    margin: 5px;
  }
}
