/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #10101076;
}

.container {
  padding-inline: 8vw;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  &.active {
    color: #ecdfdf;
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
